doctype
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="css/styles.css")
  title TODO LIST
body
  ul
    each todo in todos
      li
        a.title(href="todos/#{todo._id}/edit")!= todo.title
          p.description!= todo.description
          p!= todo.created_at
        form(action="/todo/#{todo._id}?_method=PUT" method="POST")
          input(type="checkbox")
        form(action="/new_todo" method="GET")
          button NEW ITEM
        form(action="todos/#{todo._id}?_method=DELETE" method="POST")
          button DELETE