doctype
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="css/styles.css")
  title TODO LIST
body
  div.everything
    header
      a(href="#")
        h1 TODO LIST
      form#new_item_form(action="/new_todo" method="GET")
        button#new_item_button NEW ITEM
    div.headspace
    div.content
      h2#counter COUNTER
      ul
        each todo in todos
          a.title(href="todos/#{todo._id}/edit")
            li#todo_item
              div
                div.upper
                  if todo.is_done == true
                    label(class="checker_label", for="checker")
                    input#check_stat(name="checker", type="checkbox", value="#{todo._id}", checked)
                  else
                    label(class="checker_label", for="checker")
                    input#check_stat(name="checker", type="checkbox", value="#{todo._id}")
                  form#delete_form(action="todos/#{todo._id}?_method=DELETE" method="POST")
                    button#delete_button &times
                div.middle
                  h2!= todo.title
                  p.description!= todo.description
                div.lower
                  h3.date_created!= todo.created_at        
    footer 2015
  script(src="http://code.jquery.com/jquery-2.1.1.min.js")
  //- script(src="http://momentjs.com/downloads/moment.min.js")
  //- script moment().format();
  script(src="./js/todo.js")